body{
    background-color: #f1f2f4;
}

.link{
    text-decoration: none;
    color:black;
}

#top-bar-name{
    font-size: 20px;
    color: #9d9d9d;
}

.gads{
    float: left;
    margin-top: 20px;
    font-size: 22px;
    color: #29abe2;
    /*margin-left: 10%;*/
}

.darbinieki-gads{
    float: left;
    font-size: 22px;
    color: #29abe2;
}

.btn {
    border-radius: 0px;
}

#header .btn-default:hover{
    background-color: #e28383;
}

#navigation{
    padding-top: 50px;
    padding-bottom: 20px;
}

#admin-navigation{
    padding-bottom: 20px;
}

#navigation div{
    padding: 0 20px 0 20px;
    text-align: center;
}

#navigation div.active, #admin-navigation div.active{
    border-bottom: solid 2px #29abe2;
}

#navigation div a, #admin-navigation div a{
    color: #9d9d9d;
}

#navigation div a:hover, #admin-navigation div a:hover{
    text-decoration: none;
    color: #000000
}

#navigation div.active a, #admin-navigation div.active a{
    font-weight: bold;
    color: #000000;
}

#admin-navigation div{
    text-align: center;
}

.employee-navigation{
    margin-bottom: 20px;
}

#search-user-form{
    padding: 0 0 0 0;
    margin-bottom: 0;
}

#search-user-form input{
    width: 100%;
    border: none;
    border-top: solid 1px #bababa;
    border-bottom: solid 1px #bababa;
    font-family: proxima-nova, sans-serif;
    font-size: 12px;
    color: #444c63;
}

#search-user-form input:hover{
    background-color: #e2edf7;
}

.row-vacation{
    background-color: #e2edf7;
}

.row-business-travel{
    background-color: white;
}

.pievienot {
    margin: 20px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 131px;
    height: 25px;
    background-color: #86d1f0;
    border: solid 1px #dcdcdc;
    /*margin-right: 10%;*/
    color: white;
}

.pievienot-menu{
    width: 240px;
    height: 225px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.32);
    border: solid 1px #86d1f0;
    font-family: proxima-nova, sans-serif;
    font-size: 12px;
}

.pievienot-menu .form-group{
    margin: 10px 10px 15px 10px;
    padding: 0px 0px 0px 0px;
}

#datepickers{
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
}

#end-date{
    margin-left: 10px;
}

.datepicker{
    font-size: 12px;
    color: #444c63;
    border-radius: 0px;
}

#input-vieta{
    width: 210px;
    height: 20px;
    margin-bottom: 1px;
}

.submit{
    margin: 30px 8px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 88px;
    height: 18px;
    background-color: #86d1f0;
    font-family: proxima-nova, sans-serif;
    font-size: 12px;
    color: #ffffff;
}

.tabulas-galva {
    font-size: 10px;
}

#table1 th.empty{
    width:20%
}

#table1 td.pull-right{
    border-top: none;
    padding-right: 20px;
}

.labot-btn{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 131px;
    height: 20px;
    background-color: #dfe3e9;
    border: solid 1px #dcdcdc;
    font-family: proxima-nova, sans-serif;
    font-size: 12px;
    color: #444c63;
    vertical-align: middle;
}

.download-button{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 80px;
    height: 20px;
    background-color: #dfe3e9;
    border: solid 1px #dcdcdc;
    font-family: proxima-nova, sans-serif;
    font-size: 12px;
    color: #444c63;
    vertical-align: middle;
}

.half-buttons{
    width: 38px;
}

.pievienot-btn{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 131px;
    height: 20px;
    background-color: #e48691;
    border: solid 1px #dcdcdc;
    font-family: proxima-nova, sans-serif;
    font-size: 12px;
    color: #444c63;
    vertical-align: middle;
}

.samazinat-btn{
    width: 60px;
}

.viss-kartiba{
    margin-right: 20px;
    opacity: 0.40;
    font-family: proxima-nova, sans-serif;
    font-size: 12px;
    color: #444c63;
}

.labot-iesniegumu-dialog, .labot-atskaiti-dialog, .pievienot-atskaiti-dialog, .labot-rikojumu-dialog, .pievienot-rikojumu-dialog, .saglabatie-dialog{
    margin-top: 100px;
    font-family: proxima-nova, sans-serif;
    font-size: 12px;
    color: #444c63;
}
.labot-iesniegumu-dialog div, .labot-atskaiti-dialog div, .pievienot-atskaiti-dialog div, .labot-rikojumu-dialog div, .pievienot-rikojumu-dialog div, .saglabatie-dialog div{
    border-radius: 0;
}






.labot-iesniegumu-dialog .modal-content, .labot-rikojumu-dialog .modal-content, .pievienot-rikojumu-dialog .modal-content, .saglabatie-dialog .modal-content{
    width: 300px;
    height: 150px;
    background-color: #ffffff;
}

.labot-iesniegumu-dialog .modal-body .header, .labot-rikojumu-dialog .modal-content .header, .pievienot-rikojumu-dialog .modal-content .header, .saglabatie-dialog .modal-content .header{
    font-family: proxima-nova, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #29abe2;
    width: 270px;
    border-bottom: solid 1px #29abe2;
    padding-bottom: 0;
}

.labot-iesniegumu-dialog .modal-body .upload-title, .labot-rikojumu-dialog .modal-body .upload-title, .pievienot-rikojumu-dialog .modal-body .upload-title, .saglabatie-dialog .modal-body{
    padding-bottom: 2px;
}

.labot-iesniegumu-dialog .modal-body form, .labot-rikojumu-dialog .modal-body form, .pievienot-rikojumu-dialog .modal-body form, .saglabatie-dialog .modal-body form{
    color: #444c63;
    font-family: proxima-nova, sans-serif;
    font-size: 12px;
}

.labot-iesniegumu-dialog .modal-body .submit, .labot-rikojumu-dialog .modal-body .submit, .pievienot-rikojumu-dialog .modal-body .submit{
    margin-top: 20px;
}






.atskaite-modal .modal-content{
    width: 300px;
    height: 200px;
    background-color: #ffffff;
}

.atskaite-modal .modal-body .header{
    font-family: proxima-nova, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #29abe2;
    width: 270px;
    border-bottom: solid 1px #29abe2;
    padding-bottom: 0;
}

.atskaite-modal .modal-body .upload-title{
    padding-bottom: 0px;
}

.atskaite-modal .modal-body form{
    color: #444c63;
    font-family: proxima-nova, sans-serif;
    font-size: 10px;
}

.atskaite-modal .modal-body .submit{
    margin-top: 0px;
}





.paraugi-dialog .modal-content{
    width: 300px;
    height: 150px;
    background-color: #ffffff;
}

.paraugi-dialog .modal-body .header{
    font-family: proxima-nova, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #29abe2;
    width: 270px;
    border-bottom: solid 1px #29abe2;
    padding-bottom: 0;
}

.paraugi-dialog .modal-body .upload-title{
    padding-bottom: 2px;
}

.paraugi-dialog .modal-body{
    color: #444c63;
    font-family: proxima-nova, sans-serif;
    font-size: 12px;
}





.saglabatie-dialog .modal-content{
    width: 210px;
    height: 270px;
    background-color: #ffffff;
}

.saglabatie-dialog .modal-body .header{
    font-family: proxima-nova, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #29abe2;
    width: 180px;
    border-bottom: solid 1px #29abe2;
    padding-bottom: 0;
}

.saglabatie-dialog .modal-body .upload-title{
    padding-bottom: 2px;
}

.saglabatie-dialog .modal-body{
    color: #444c63;
    font-family: proxima-nova, sans-serif;
    font-size: 12px;
}

.save-user-changes-btn{
    width: 115px;
}

.saved-users-full-name{
    margin-bottom: 5px;
    font-family: proxima-nova, sans-serif;
    font-size: 12px;
}

#search-saved-user-form{
    padding: 10px 0 10px 0;
}

.saved-user-list{
    padding-right: 20px;
    margin-bottom: 0;
    width: 178px;
    height: 160px;
    overflow: scroll;
}

/*#search-saved-user-form input{*/
    /*width: 100%;*/
    /*border: none;*/
    /*border-top: solid 1px #bababa;*/
    /*border-bottom: solid 1px #bababa;*/
    /*font-family: proxima-nova, sans-serif;*/
    /*font-size: 12px;*/
    /*color: #444c63;*/
/*}*/

/*#search-saved-user-form input:hover{*/
    /*background-color: #e2edf7;*/
/*}*/



#table1 button:hover{
    border: solid 1px #86d1f0;
}

.pievienot-btn:hover{
    background-color: #e48691;
    color: #211f1f;
}

.pievienot-btn:focus{
    background-color: #e48691;
    color: #211f1f;
}

.tbody {
    font-size: 12px;
}

.atvalinajumi {
    float: left;
    margin-top: 20px;
    font-size: 20px;
    color: #29abe2;
    /*margin-left: 10%;*/
}

.dienas {
    margin-top: 25px;
    float: right;
    font-size: 13px;
    color: #727d8c;
}

.box {
    margin-left:15%;
    margin-right:15%;
}

#add-entry-popup{
    position: absolute;
}

input[type="radio"] {
    -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
    -moz-appearance: checkbox;    /* Firefox */
    -ms-appearance: checkbox;     /* not currently supported */
}

.submit-special-button {
    background: none;
    border: none;
    padding: 0;
    outline: none;
    cursor: pointer;
}

#login-form{
    background-color: #ffffff;
}

.user-full-name{
    margin-top: 0px;
}

.saved-user-full-name{

}

#user-list{
    padding-top: 15px;
    overflow: scroll;
    height: 100px;
    width: 200px;
}

.row-good-status{
    opacity: 0.7;
    /*background-color: #bfffc9;*/
}

.filter-btn, .paraugi-btn{
    margin: 2px 2px 0px 2px;
    padding: 0px 0px 0px 0px;
    width: 90px;
    height: 22px;
    vertical-align: middle;
    align-content: center;
    background-color: #ffffff;
    border: solid 1px #dcdcdc;
    /*margin-right: 10%;*/
    color: #000000;
    font-family: proxima-nova, sans-serif;
    font-size: 12px;
}

.filter-status{
    margin-right: 15px;
}

.filter-btn:hover, .paraugi-btn:hover{
    background-color: #e2edf7;
}

.filter-btn:active, .filter-btn:active{
    background-color: #ced7e0;
}

.filter-btn:disabled{
    background-color: #9d9d9d;
}

.filter-active{
    background-color: #fdffcc;
}

.paraugi-btn{
    margin: 22px 4px 0 0;
}

.accept-deletion-btn, .deny-deletion-btn{
    margin: 0 5px 0 5px;
}

.deletion-popup-header{
  font-family: proxima-nova, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #29abe2;
}

.search-box-row{
    margin-top: 20px;
}