body{
    background-color: #f1f2f4;
}

.link{
    text-decoration: none;
    color:black;
}

.gads {
    float: left;
    margin-top: 20px;
    font-size: 22px;
    color: #29abe2;
    /*margin-left: 10%;*/
}

.btn {
    border-radius: 0px;
}

#header .btn-default:hover{
    background-color: #e28383;
}

#navigation{
    padding-top: 50px;
    padding-bottom: 20px;
}

#navigation div{
    padding: 0 20px 0 20px;
}

#navigation div.active{
    border-bottom: solid 2.7px #29abe2;
}

#navigation div a{
    text-align: center;
    color: #9d9d9d;
}

#navigation div a:hover{
    text-decoration: none;
    color: #000000
}

#navigation div.active a{
    font-weight: bold;
    color: #000000;
}

.row-vacation{
    background-color: #e2edf7;
}

.row-business-travel{
    background-color: white;
}

.pievienot {
    margin: 20px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 131px;
    height: 25px;
    background-color: #86d1f0;
    border: solid 1px #dcdcdc;
    /*margin-right: 10%;*/
    color: white;
}

.pievienot-menu{
    width: 240px;
    height: 225px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.32);
    border: solid 1px #86d1f0;
    font-family: proxima-nova, sans-serif;
    font-size: 12px;
}

.pievienot-menu .form-group{
    margin: 10px 10px 15px 10px;
    padding: 0px 0px 0px 0px;
}

#datepickers{
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
}

#end-date{
    margin-left: 10px;
}

.datepicker{
    font-size: 12px;
    color: #444c63;
    border-radius: 0px;
}

#input-vieta{
    width: 210px;
    height: 20px;
    margin-bottom: 1px;
}

.submit{
    margin: 30px 8px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 88px;
    height: 18px;
    background-color: #86d1f0;
    font-family: proxima-nova, sans-serif;
    font-size: 12px;
    color: #ffffff;
}

.tabulas-galva {
    font-size: 10px;
}

#table1 th.empty{
    width:20%
}

#table1 td.pull-right{
    border-top: none;
    padding-right: 20px;
}

.labot-iesniegumu-btn, .labot-atskaiti-btn{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 131px;
    height: 20px;
    background-color: #dfe3e9;
    border: solid 1px #dcdcdc;
    font-family: proxima-nova, sans-serif;
    font-size: 12px;
    color: #444c63;
    vertical-align: middle;
}

.pievienot-atskaiti-btn{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 131px;
    height: 20px;
    background-color: #e48691;
    border: solid 1px #dcdcdc;
    font-family: proxima-nova, sans-serif;
    font-size: 12px;
    color: #444c63;
    vertical-align: middle;
}

.viss-kartiba{
    margin-right: 20px;
    opacity: 0.40;
    font-family: proxima-nova, sans-serif;
    font-size: 12px;
    color: #444c63;
}

.labot-iesniegumu-dialog, .labot-atskaiti-dialog, .pievienot-atskaiti-dialog{
    margin-top: 100px;
    font-family: proxima-nova, sans-serif;
    font-size: 12px;
    color: #444c63;
}
.labot-iesniegumu-dialog div, .labot-atskaiti-dialog div, .pievienot-atskaiti-dialog div{
    border-radius: 0;
}






.labot-iesniegumu-dialog .modal-content{
    width: 300px;
    height: 150px;
    background-color: #ffffff;
}

.labot-iesniegumu-dialog .modal-body .header{
    font-family: proxima-nova, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #29abe2;
    width: 270px;
    border-bottom: solid 1px #29abe2;
    padding-bottom: 0;
}

.labot-iesniegumu-dialog .modal-body .upload-title{
    padding-bottom: 2px;
}

.labot-iesniegumu-dialog .modal-body form{
    color: #444c63;
    font-family: proxima-nova, sans-serif;
    font-size: 12px;
}

.labot-iesniegumu-dialog .modal-body .submit{
    margin-top: 20px;
}






.atskaite-modal .modal-content{
    width: 300px;
    height: 200px;
    background-color: #ffffff;
}

.atskaite-modal .modal-body .header{
    font-family: proxima-nova, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #29abe2;
    width: 270px;
    border-bottom: solid 1px #29abe2;
    padding-bottom: 0;
}

.atskaite-modal .modal-body .upload-title{
    padding-bottom: 0px;
}

.atskaite-modal .modal-body form{
    color: #444c63;
    font-family: proxima-nova, sans-serif;
    font-size: 10px;
}

.atskaite-modal .modal-body .submit{
    margin-top: 0px;
}





#table1 button:hover{
    border: solid 1px #86d1f0;
}

.pievienot-atskaiti-btn:hover{
    background-color: #e48691;
    color: #211f1f;
}

.pievienot-atskaiti-btn:focus{
    background-color: #e48691;
    color: #211f1f;
}

.tbody {
    font-size: 12px;
}

.atvalinajumi {
    float: left;
    margin-top: 20px;
    font-size: 20px;
    color: #29abe2;
    /*margin-left: 10%;*/
}

.dienas {
    margin-top: 25px;
    float: right;
    font-size: 13px;
    color: #727d8c;

}

.box {
    margin-left:15%;
    margin-right:15%;
}

#add-entry-popup{
    position: absolute;
}

input[type="radio"] {
    -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
    -moz-appearance: checkbox;    /* Firefox */
    -ms-appearance: checkbox;     /* not currently supported */
}

#login-form{
    background-color: #ffffff;
}

.user-full-name{
    margin-top: 0px;
}

#user-list{
    padding-top: 15px;
    overflow: scroll;
    height: 100px;
    width: 200;
}