{% extends "mylist/base.html" %}
{% load staticfiles %}
{% load custom_tags %}

{% block content %}

<body>

    <div class="container" id="header">
        <div class="box">
            {% if online_user.is_staff %}
            <div class="pull-left" id="top-bar-name">
                {{ online_user.first_name }} {{ online_user.last_name }} (Admin)
            </div>
            {% else %}
            <div class="pull-left" id="top-bar-name">
                {{ online_user.first_name }} {{ online_user.last_name }}
            </div>
            {% endif %}
            <div class="pull-right">
                <a href="{% url 'mylist:logout' %}" class="btn btn-default">
                    Izrakstīties
                </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="box">
            <div class="row justify-content-md-center" id="navigation">

                <div class="col col-lg-2">
                    <b><a class="link" href="{% url 'mylist:index' %}"> Mans saraksts</a> </b>
                </div>
                <div class="col col-lg-1 active">
                    <b><a class="link" href="{% url 'mylist:all' %}"> Visi</a> </b>
                </div>
                <div class="col col-lg-2">
                    <b><a class="link" href="{% url 'mylist:saved' %}"> Saglabātie</a> </b>
                </div>

            </div>

            {% if online_user.is_staff %}
                <div class="row justify-content-md-center" id="admin-navigation">
                    <div class="col col-lg-2">
                        <b><a class="link" href="{% url 'mylist:employees' %}">Darbinieki</a> </b>
                    </div>
                </div>
            {% endif %}

            <div class="gads"> ŠODIEN, {% now 'd.m.Y' %} </div>

            <table class="table">

                <thead>
                    <tr class="tabulas-galva row-header">
                        <th>Vārds</th>
                        <th>Mērķis</th>
                        <th>Vieta</th>
                        <th>Līdz</th>
                        <th></th>
                    </tr>
                </thead>
                {% for ieraksts in ieraksti %}
                <tbody class="tbody">
                    {% if ieraksts.merkis == 'atvalinajums' %}
                    <tr class="row-vacation">
                    {% elif ieraksts.merkis == 'komandejums' %}
                    <tr class="row-business-travel">
                    {% endif %}
                        <td>{{ ieraksts.lietotajs|get_full_name:users }}</td>
                        {% if ieraksts.merkis == 'atvalinajums' %}
                        <td>Atvaļinājums</td>
                        {% elif ieraksts.merkis == 'komandejums' %}
                        <td>Komandējums</td>
                        {% endif %}
                        <td>{{ ieraksts.vieta }}</td>
                        <td>{{ ieraksts.datums_lidz|date:"d.m.Y"}}</td>
                        <td></td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>

            <div class="w3-center w3-small">
                <div class="pagination">
                    <div class="w3-bar">
                        <span class="step-links">
                            {% if ieraksti.has_previous %}
                                <a href="?page={{ ieraksti.previous_page_number }}" class="w3-button"> &laquo; </a>
                            {% else %}
                                <a href="#" class="w3-button"> &laquo; </a>
                            {% endif %}

                            <span class="current">
                                {{ ieraksti.number }} no {{ ieraksti.paginator.num_pages }}
                            </span>

                            {% if ieraksti.has_next %}
                                <a href="?page={{ ieraksti.next_page_number }}" class="w3-button"> &raquo; </a>
                            {% else %}
                                <a href="#" class="w3-button"> &raquo; </a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>


        </div>
    </div>

</body>

{%endblock content%}