{% extends "mylist/base.html" %}
{% load staticfiles %}
{% load custom_tags %}

{% block content %}

<body>

    <div class="container" id="header">
        <div class="box">
            {% if online_user.is_staff %}
            <div class="pull-left" id="top-bar-name">
                {{ online_user.first_name }} {{ online_user.last_name }} (Admin)
            </div>
            {% else %}
            <div class="pull-left" id="top-bar-name">
                {{ online_user.first_name }} {{ online_user.last_name }}
            </div>
            {% endif %}
            <div class="pull-right">
                <a href="{% url 'mylist:logout' %}" class="btn btn-default">
                    Izrakstīties
                </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="box">
            <div class="row justify-content-md-center" id="navigation">

                <div class="col col-lg-2 active">
                    <b><a class="link" href="{% url 'mylist:index' %}">Mans saraksts</a> </b>
                </div>
                <div class="col col-lg-1">
                    <b><a class="link" href="{% url 'mylist:all' %}">Visi</a> </b>
                </div>
                <div class="col col-lg-2">
                    <b><a class="link" href="{% url 'mylist:saved' %}">Saglabātie</a> </b>
                </div>

            </div>

            {% if online_user.is_staff %}
                <div class="row justify-content-md-center" id="admin-navigation">
                    <div class="col col-lg-2">
                        <b><a class="link" href="{% url 'mylist:employees' %}">Darbinieki</a> </b>
                    </div>
                </div>
            {% endif %}

            <div class="gads"> {% now 'Y' %} </div>

<!--
            <button type="button" class="pievienot" data-toggle="modal" data-target="#pievienot"> +Pievienot</button>
            <div class="modal fade" id="pievienot">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            Header
                        </div>
                        <div class="modal-body">
                            <form method='POST' role="form" action="/mylist/"> ... csrf_token
                                <input type="text" name="dati" value="1">
                                <input type="submit" value="Saglabāt">
                            </form>
                            Body
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Aizvērt</button>
                        </div>
                    </div>
                </div>
            </div>
-->
            <div class="row pull-right">
                <button type="button" class="btn paraugi-btn" data-toggle="modal" data-target="#paraugi-modal">Paraugi</button>

                <div class="modal fade paraugi-modal" id="paraugi-modal">
                    <div class="modal-dialog modal-sm paraugi-dialog" id="paraugi-dialog-{{ ieraksts.id }}">
                        <div class="modal-content">

                            <div class="modal-body">
                                <div class="header">
                                    Dokumentu paraugi
                                </div>
                                <div class="upload-title">Iesniegums</div>
                                <a class="btn btn-default download-button" role="button" href="/media/iesniegums.doc" download>Lejuplādēt</a>
                                <div class="upload-title">Atskaite</div>
                                <a class="btn btn-default download-button" role="button" href="/media/atskaite.doc" download>Lejuplādēt</a>
                                <div>Daži atgādinājumi...</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="dropdown">
                    <div class="btn pievienot" data-toggle="dropdown" role="button" aria-expanded="false">
                        +Pievienot
                    </div>
                    <div class="dropdown-menu stop-propagation pievienot-menu" role="menu">
                        <div class="form-group">
                            <form method='POST' role="form" enctype='multipart/form-data' action="/mylist/" id="myform">{% csrf_token %}
                                <div class="radio">
                                    <label><input type="radio" name="merkis" value="komandejums" checked="checked" id="komandejums-radio">Komandejums</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="merkis" value="atvalinajums" id="atvalinajums-radio">Atvalinajums</label>
                                </div>


                                <div class="row" id="datepickers">
                                    <div id="start-date">
                                        No<br>
                                        <input class="form-control datepicker datepicker1" required="required" id="date" name="datums_no" type="text" style="width:100px; height:20px"/>
                                    </div>
                                    <div id="end-date">
                                        Līdz<br>
                                        <input class="form-control datepicker datepicker2" required="required" id="date" name="datums_lidz" type="text" style="width:100px; height:20px"/>
                                    </div>
                                </div>

                                <div id="myform-vieta">
                                    Vieta<br>
                                    <input id="input-vieta" required="required" type="text" name="vieta">
                                </div>
                                <div class="default-hide" id="myform-iesniegums">
                                    Iesniegums<br>
                                    <input type="file" id="jauns-ieraksts-iesniegums" name="iesniegums">
                                </div>

                                <input class="btn submit pull-right" type="submit" value="Nosūtīt">
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <table class="table" id="table1">

                <thead>
                    <tr class="tabulas-galva row-header">
                        <th>Mērķis</th>
                        <th>Vieta</th>
                        <th>No</th>
                        <th>Līdz</th>
                        <th class="empty"></th>
                    </tr>
                </thead>
                {% if ieraksti %}
                {% for ieraksts in ieraksti %}
                <tbody class="tbody">
                    {% if ieraksts.merkis == 'atvalinajums' %}
                    <tr class="row-vacation">
                    {% elif ieraksts.merkis == 'komandejums' %}
                    <tr class="row-business-travel">
                    {% endif %}
                        {% if ieraksts.merkis == 'atvalinajums' %}
                        <td>Atvaļinājums</td>
                        {% elif ieraksts.merkis == 'komandejums' %}
                        <td>Komandējums</td>
                        {% endif %}
                        <td>{{ ieraksts.vieta }}</td>
                        <td>{{ ieraksts.datums_no|date:"d.m.Y" }}</td>
                        <td>{{ ieraksts.datums_lidz|date:"d.m.Y" }}</td>

                        {% if ieraksts.statuss == True %}
                            <td class="pull-right viss-kartiba"><span class="glyphicon glyphicon-ok"></span> Viss kārtībā!</td>
                        {% elif ieraksts.statuss == False and ieraksts.merkis == 'atvalinajums' %}
{#                            <td class="pull-right">Labot iesniegumu</td>#}
                            <td class="pull-right"><button type="button" class="btn btn-default labot-btn" data-toggle="modal" data-target="#labot-iesniegumu-modal-{{ ieraksts.id }}" id="labot-iesniegumu-btn-{{ ieraksts.id }}">Labot iesniegumu</button></td>

                            <div class="modal fade labot-iesniegumu-modal" id="labot-iesniegumu-modal-{{ ieraksts.id }}">
                                <div class="modal-dialog modal-sm labot-iesniegumu-dialog" id="labot-iesniegumu-dialog-{{ ieraksts.id }}">
                                    <div class="modal-content">

                                        <div class="modal-body">
                                            <div class="header">
                                                IESNIEGUMA LABOŠANA
                                            </div>
                                            <form method='POST' enctype='multipart/form-data' role="form" action="/mylist/">{% csrf_token %}
                                                <div class="upload-title">Augšuplādēt iesniegumu</div>
                                                <input type="hidden" name="iesniegums_labot" value="{{ ieraksts.id }}">
                                                <input type="file" id="file" name="iesniegums">
                                                <input class="btn submit pull-right" type="submit" value="Nosūtīt">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% elif ieraksts.statuss == False and ieraksts.merkis == 'komandejums' %}
                            {% if ieraksts.datums_lidz|trip_ended %}
                                {% if ieraksts|is_found:komandejumu_failu_saraksts == False %}
{#                                    <td class="pull-right">Pievienot atskaiti</td>#}
                                    <td class="pull-right"><button type="button" class="btn btn-danger pievienot-btn" data-toggle="modal" data-target="#pievienot-atskaiti-modal-{{ ieraksts.id }}" id="pievienot-atskaiti-btn-{{ ieraksts.id }}">Pievienot atskaiti</button></td>

                                    <div class="modal fade pievienot-atskaiti-modal atskaite-modal" id="pievienot-atskaiti-modal-{{ ieraksts.id }}">
                                        <div class="modal-dialog modal-sm pievienot-atskaiti-dialog" id="pievienot-atskaiti-dialog-{{ ieraksts.id }}">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <div class="header">
                                                        ATSKAITES PIEVIENOŠANA
                                                    </div>
                                                    <form method='POST' enctype='multipart/form-data' role="form" action="/mylist/">{% csrf_token %}
                                                        <div class="upload-title">Augšuplādēt atskaiti</div>
                                                        <input type="hidden" name="atskaite_pievienot" value="{{ ieraksts.id }}">
                                                        <input type="file" id="file" required="required" name="atskaite">
                                                        <div class="checkbox">
                                                          <label><input type="checkbox" data-toggle="buttons" value="" class="enable-upload1">Vēlos pievienot čekus</label>
                                                        </div>
                                                        <div class="upload-title">Augšuplādēt čekus (arhivēt, ja vairāki)</div>
                                                        <input type="file" disabled="disabled" class="ceks-upload1" name="ceks">
                                                        <input class="btn submit pull-right" type="submit" value="Nosūtīt">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                {% else %}
{#                                    <td class="pull-right">Labot atskaiti</td>#}
                                    <td class="pull-right"><button type="button" class="btn btn-default labot-btn" data-toggle="modal" data-target="#labot-atskaiti-modal-{{ ieraksts.id }}" id="labot-atskaiti-btn-{{ ieraksts.id }}">Labot atskaiti</button></td>

                                    <div class="modal fade labot-atskaiti-modal atskaite-modal" id="labot-atskaiti-modal-{{ ieraksts.id }}">
                                        <div class="modal-dialog modal-sm labot-atskaiti-dialog" id="labot-atskaiti-dialog-{{ ieraksts.id }}">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <div class="header">
                                                        ATSKAITES LABOŠANA
                                                    </div>
                                                    <form method='POST' enctype='multipart/form-data' role="form" action="/mylist/">{% csrf_token %}
                                                        <div class="upload-title">Augšuplādēt atskaiti</div>
                                                        <input type="hidden" name="atskaite_labot" value="{{ ieraksts.id }}">
                                                        <input type="file" id="file" name="atskaite">
                                                        <div class="checkbox">
                                                          <label><input type="checkbox" data-toggle="buttons" value="" class="enable-upload2">Vēlos pievienot čekus</label>
                                                        </div>
                                                        <div class="upload-title">Augšuplādēt čekus (arhivēt, ja vairāki)</div>
                                                        <input type="file" disabled="disabled" class="ceks-upload2" name="ceks">
                                                        <input class="btn submit pull-right" type="submit" value="Nosūtīt">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                {% endif %}
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>
                </tbody>
                {% endfor %}
                {% else %}
                    <tbody>
                        <tr>
                            <td class="td-emp">Nav ierakstu</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                {% endif %}
            </table>

            <div class="w3-center w3-small">
                <div class="pagination">
                    <div class="w3-bar">
                        <span class="step-links">
                            {% if ieraksti.has_previous %}
                                <a href="?table1={{ ieraksti.previous_page_number }}&table2={{ atvalinajumu_ieraksti.number }}&table3={{ komandejumu_ieraksti.number }}" class="w3-button"> &laquo; </a>
                            {% else %}
                                <a href="#" class="w3-button"> &laquo; </a>
                            {% endif %}

                            <span class="current">
                                {{ ieraksti.number }} no {{ ieraksti.paginator.num_pages }}
                            </span>

                            {% if ieraksti.has_next %}
                                <a href="?table1={{ ieraksti.next_page_number }}&table2={{ atvalinajumu_ieraksti.number }}&table3={{ komandejumu_ieraksti.number }}" class="w3-button"> &raquo; </a>
                            {% else %}
                                <a href="#" class="w3-button"> &raquo; </a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>




<!--
        <div class="w3-center w3-small">
            <div class="w3-bar">
              <a href="#" class="w3-button">&laquo;</a>
              <a href="#" class="w3-button">1</a>
              <a href="#" class="w3-button">2</a>
              <a href="#" class="w3-button">&raquo;</a>
            </div>
        </div>
!-->

              <div class="row">
            <div class="col">
              <span class="atvalinajumi">Atvaļinājumi</span>
                <span class="dienas">Pieejamās dienas: <b>{{ ieraksti_saraksts|vacation_days_left }}</b></span>


            <table class="table">
                <thead>
                  <tr class="tabulas-galva">
                    <th>No</th>
                    <th>Līdz</th>
                    <th>Dienas</th>
                  </tr>
                </thead>
            {% if atvalinajumu_ieraksti %}
                {% for ieraksts in atvalinajumu_ieraksti %}
                <tbody class="tbody">
                  <tr class="row-business-travel">
                    <td>{{ ieraksts.datums_no|date:"d.m.Y" }}</td>
                    <td>{{ ieraksts.datums_lidz|date:"d.m.Y" }}</td>
                    <td>{{ ieraksts.datums_no|days_between:ieraksts.datums_lidz}}</td>
                  </tr>
                </tbody>
                {% endfor %}
            {% else %}
                <tbody>
                    <tr>
                        <td>Nav ierakstu</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            {% endif %}
            </table>


            <div class="w3-center w3-small">
                <div class="pagination">
                    <div class="w3-bar">
                        <span class="step-links">
                            {% if atvalinajumu_ieraksti.has_previous %}
                                <a href="?table1={{ ieraksti.number }}&table2={{ atvalinajumu_ieraksti.previous_page_number }}&table3={{ komandejumu_ieraksti.number }}" class="w3-button"> &laquo; </a>
                            {% else %}
                                <a href="#" class="w3-button"> &laquo; </a>
                            {% endif %}

                            <span class="current">
                                {{ atvalinajumu_ieraksti.number }} no {{ atvalinajumu_ieraksti.paginator.num_pages }}
                            </span>

                            {% if atvalinajumu_ieraksti.has_next %}
                                <a href="?table1={{ ieraksti.number }}&table2={{ atvalinajumu_ieraksti.next_page_number }}&table3={{ komandejumu_ieraksti.number }}" class="w3-button"> &raquo; </a>
                            {% else %}
                                <a href="#" class="w3-button"> &raquo; </a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>


            </div>
            <div class="col">
                <span class="atvalinajumi">Komandejumi</span>


                <table class="table">
            <thead>
              <tr class="tabulas-galva">
                <th>Vieta</th>
                <th>No</th>
                <th>Līdz</th>
                <th>Dienas</th>
              </tr>
            </thead>
            {% if komandejumu_ieraksti %}
            {% for ieraksts in komandejumu_ieraksti %}
            <tbody class="tbody">
              <tr class="row-business-travel">
                <td>{{ ieraksts.vieta }}</td>
                <td>{{ ieraksts.datums_no|date:"d.m.Y" }}</td>
                <td>{{ ieraksts.datums_lidz|date:"d.m.Y" }}</td>
                <td>{{ ieraksts.datums_no|days_between:ieraksts.datums_lidz }}</td>
              </tr>
            {% endfor %}
            </tbody>
            {% else %}
                <tbody>
                    <tr>
                        <td>Nav ierakstu</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            {% endif %}
            </table>

            <div class="w3-center w3-small">
                <div class="pagination">
                    <div class="w3-bar">
                        <span class="step-links">
                            {% if komandejumu_ieraksti.has_previous %}
                                <a href="?table1={{ ieraksti.number }}&table2={{ atvalinajumu_ieraksti.number }}&table3={{ komandejumu_ieraksti.previous_page_number }}" class="w3-button"> &laquo; </a>
                            {% else %}
                                <a href="#" class="w3-button"> &laquo; </a>
                            {% endif %}

                            <span class="current">
                                {{ komandejumu_ieraksti.number }} no {{ komandejumu_ieraksti.paginator.num_pages }}
                            </span>

                            {% if komandejumu_ieraksti.has_next %}
                                <a href="?table1={{ ieraksti.number }}&table2={{ atvalinajumu_ieraksti.number }}&table3={{ komandejumu_ieraksti.next_page_number }}" class="w3-button"> &raquo; </a>
                            {% else %}
                                <a href="#" class="w3-button"> &raquo; </a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>


            </div>
          </div>

        </div>
    </div>
{% for kom in komandejumu_failu_saraksts %}
    <a href="{{ kom.atskaite.url }}" download>download {{ kom.atskaite.name }}</a><br>
{% endfor %}
</body>

{%endblock content%}