{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<link rel="stylesheet" type="text/css" href="{% static 'mylist/style.css' %}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript" src="{% static 'JavaScript/scripts.js' %}"></script>

<body>
    <div class="container">
        <div class="box">
            <div class="row justify-content-md-center" id="navigation">

                <div class="col col-lg-2">
                    <b><a class="link" href="#"> Mans saraksts</a> </b>
                </div>
                <div class="col col-lg-1">
                    <b><a class="link" href="#"> Visi</a> </b>
                </div>
                <div class="col col-lg-2">
                    <b><a class="link" href="#"> Saglabātie</a> </b>
                </div>

            </div>

            <div class="gads"> {% now 'Y' %} </div>

<!--
            <button type="button" class="pievienot" data-toggle="modal" data-target="#pievienot"> +Pievienot</button>
            <div class="modal fade" id="pievienot">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            Header
                        </div>
                        <div class="modal-body">
                            <form method='POST' role="form" action="/mylist/">{% csrf_token %}
                                <input type="text" name="dati" value="1">
                                <input type="submit" value="Saglabāt">
                            </form>
                            Body
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Aizvērt</button>
                        </div>
                    </div>
                </div>
            </div>
-->
            <div class="dropdown pull-right">
                <div class="btn pievienot" data-toggle="dropdown" role="button" aria-expanded="false">
                    +Pievienot
                </div>
                <div class="dropdown-menu stop-propagation pievienot-menu" role="menu">
                    <div class="form-group">
                        <div class="radio">
                            <label><input type="radio" name="optradio">Komandejums</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="optradio">Atvalinajums</label>
                        </div>


                    </div>
                </div>
            </div>

            <table class="table">

                <thead>
                    <tr class="tabulas-galva row-header">
                        <th>Mērķis</th>
                        <th>Vieta</th>
                        <th>No</th>
                        <th>Līdz</th>
                        <th></th>
                    </tr>
                </thead>
                {% for ieraksts in ieraksti %}
                <tbody class="tbody">
                    {% if ieraksts.merkis == 'atvalinajums' %}
                    <tr class="row-vacation">
                    {% elif ieraksts.merkis == 'komandejums' %}
                    <tr class="row-business-travel">
                    {% endif %}
                        {% if ieraksts.merkis == 'atvalinajums' %}
                        <td>Atvaļinājums</td>
                        {% elif ieraksts.merkis == 'komandejums' %}
                        <td>Komandējums</td>
                        {% endif %}
                        <td>{{ ieraksts.vieta }}</td>
                        <td>{{ ieraksts.datums_no|date:"d.m.Y" }}</td>
                        <td>{{ ieraksts.datums_lidz|date:"d.m.Y"}}</td>
                        <td></td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>

            <div class="w3-center w3-small">
                <div class="pagination">
                    <div class="w3-bar">
                        <span class="step-links">
                            {% if ieraksti.has_previous %}
                                <a href="?page={{ ieraksti.previous_page_number }}" class="w3-button"> &laquo; </a>
                            {% else %}
                                <a href="#" class="w3-button"> &laquo; </a>
                            {% endif %}

                            <span class="current">
                                {{ ieraksti.number }}
                            </span>

                            {% if ieraksti.has_next %}
                                <a href="?page={{ ieraksti.next_page_number }}" class="w3-button"> &raquo; </a>
                            {% else %}
                                <a href="#" class="w3-button"> &raquo; </a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>


<!--
        <div class="w3-center w3-small">
            <div class="w3-bar">
              <a href="#" class="w3-button">&laquo;</a>
              <a href="#" class="w3-button">1</a>
              <a href="#" class="w3-button">2</a>
              <a href="#" class="w3-button">&raquo;</a>
            </div>
        </div>
!-->

              <div class="row">
            <div class="col">
              <span class="atvalinajumi">Atvaļinājumi</span>
                <span class="dienas">Pieejamās dienas: <b>23</b></span>


            <table class="table">
                <thead>
                  <tr class="tabulas-galva">
                    <th>No</th>
                    <th>Līdz</th>
                    <th>Dienas</th>
                  </tr>
                </thead>
                {% for ieraksts in atvalinajumu_ieraksti %}
                <tbody class="tbody">
                  <tr class="row-business-travel">
                    <td>{{ ieraksts.datums_no|date:"d.m.Y" }}</td>
                    <td>{{ ieraksts.datums_lidz|date:"d.m.Y" }}</td>
                    <td>{{ ieraksts.datums_no|timesince:ieraksts.datums_lidz}}</td>
                  </tr>
                </tbody>
                {% endfor %}
            </table>

                <div class="w3-center w3-small">
        <div class="w3-bar">
          <a href="#" class="w3-button">&laquo;</a>
          <a href="#" class="w3-button">1</a>
          <a href="#" class="w3-button">2</a>
          <a href="#" class="w3-button">&raquo;</a>
        </div>
        </div>


            </div>
            <div class="col">
                    <span class="atvalinajumi">Komandejumi</span>


                <table class="table">
            <thead>
              <tr class="tabulas-galva">
                <th>Vieta</th>
                <th>No</th>
                <th>Līdz</th>
                <th>Dienas</th>
              </tr>
            </thead>
                    {% for ieraksts in komandejumu_ieraksti %}
            <tbody class="tbody">
              <tr class="row-business-travel">
                <td>{{ ieraksts.vieta }}</td>
                <td>{{ ieraksts.datums_no|date:"d.m.Y" }}</td>
                <td>{{ ieraksts.datums_lidz|date:"d.m.Y" }}</td>
                <td>{{ ieraksts.datums_no|timesince:ieraksts.datums_lidz }}</td>
              </tr>
            {% endfor %}

            </tbody>
          </table>

                <div class="w3-center w3-small">
        <div class="w3-bar">
          <a href="#" class="w3-button">&laquo;</a>
          <a href="#" class="w3-button">1</a>
          <a href="#" class="w3-button">2</a>
          <a href="#" class="w3-button">&raquo;</a>
        </div>
        </div>

            </div>
          </div>

        </div>
    </div>




</body>