{% extends "mylist/base.html" %}
{% load staticfiles %}
{% load custom_tags %}

{% block content %}

<body>

    <div class="container" id="header">
        <div class="box">
            {% if online_user.is_staff %}
            <div class="pull-left" id="top-bar-name">
                {{ online_user.first_name }} {{ online_user.last_name }} (Admin)
            </div>
            {% else %}
            <div class="pull-left" id="top-bar-name">
                {{ online_user.first_name }} {{ online_user.last_name }}
            </div>
            {% endif %}
            <div class="pull-right">
                <a href="{% url 'mylist:logout' %}" class="btn btn-default">
                    Izrakstīties
                </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="box">
            <div class="row justify-content-md-center" id="navigation">

                <div class="col col-lg-2">
                    <b><a class="link" href="{% url 'mylist:index' %}"> Mans saraksts</a> </b>
                </div>
                <div class="col col-lg-1">
                    <b><a class="link" href="{% url 'mylist:all' %}"> Visi</a> </b>
                </div>
                <div class="col col-lg-2 active">
                    <b><a class="link" href="{% url 'mylist:saved' %}"> Saglabātie</a> </b>
                </div>

            </div>

            {% if online_user.is_staff %}
                <div class="row justify-content-md-center" id="admin-navigation">
                    <div class="col col-lg-2">
                        <b><a class="link" href="{% url 'mylist:employees' %}">Darbinieki</a> </b>
                    </div>
                </div>
            {% endif %}


{#            <input id="search-input1" placeholder="Meklēt..."><br>#}
{#            <form method='POST' enctype='multipart/form-data' role="form" action="/mylist/saved">{% csrf_token %}#}
{#                <div id="user-list">#}
{#                    {% for user in users %}#}
{#                        <div class="checkbox user-full-name1">#}
{#                          <label><input type="checkbox" data-toggle="buttons" name="add_user{{ user.id }}" value="{{ user }}">{{ user.first_name }} {{ user.last_name }}</label>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                </div>#}
{#                <input type="hidden" name="pievienot_lietotaju" value="1">#}
{#                <input class="btn btn-default submit-users" type="submit" value="Pievienot">#}
{#            </form>#}
{##}
{#            <input id="search-input2" placeholder="Meklēt..."><br>#}
{#            <form method='POST' enctype='multipart/form-data' role="form" action="/mylist/saved">{% csrf_token %}#}
{#                <div id="user-list">#}
{#                    {% for user in saved_users %}#}
{#                        <div class="checkbox user-full-name2">#}
{#                          <label><input type="checkbox" data-toggle="buttons" name="delete_user{{ user.id }}" value="{{ user }}">{{ user.first_name }} {{ user.last_name }}</label>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                </div>#}
{#                <input type="hidden" name="iznemt_lietotaju" value="1">#}
{#                <input class="btn btn-default submit-users" type="submit" value="Izņemt">#}
{#            </form>#}


            <div class="gads"> ŠODIEN, {% now 'd.m.Y' %} </div>
            <div class="row pull-right">
                <button type="button" class="btn filter-btn saved-users" data-toggle="modal" data-target="#saglabatie-modal">Saglabātie</button>

                <div class="modal fade saglabatie-modal" id="saglabatie-modal">
                    <div class="modal-dialog modal-sm saglabatie-dialog" id="saglabatie-dialog-{{ ieraksts.id }}">
                        <div class="modal-content">

                            <div class="modal-body">
                                <div class="header">
                                    Saglabātie lietotāji
                                </div>
                                <div>
                                    <form method='POST' role="form" enctype='multipart/form-data' action="/mylist/saved" id="search-saved-user-form">{% csrf_token %}
                                        <input type="hidden" name="iznemt_lietotaju" value="1">
                                        <div class="saved-user-list">
                                            {% for user in saved_users %}
                                                <div class="saved-users-full-name">{{ user.first_name }} {{ user.last_name }}
                                                    <button type="button" class="submit-special-button delete-user-from-saved pull-right" name="{{ user }}">
                                                        <input type="hidden" name="delete_user{{ user.id }}" value="">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <input class="btn submit pull-right save-user-changes-btn" type="submit" disabled="disabled" value="Saglabāt izmaiņas">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="dropdown">
                    <div class="" data-toggle="dropdown" role="button" aria-expanded="false">
                        <input id="search-input" placeholder="Pievienot..."><br>
                    </div>
                    <div class="dropdown-menu stop-propagation" role="menu">
                        <div class="">
                            <form method='POST' role="form" enctype='multipart/form-data' action="/mylist/saved" id="search-user-form">{% csrf_token %}
                                <input type="hidden" name="pievienot_lietotaju" value="1">
                                {% for user in users %}
                                    <input class="btn btn-default pull-right user-full-name" name="add_user{{ user.id }}" type="submit" value="{{ user.first_name }} {{ user.last_name }}">
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table">

                <thead>
                    <tr class="tabulas-galva row-header">
                        <th>Vārds</th>
                        <th>Mērķis</th>
                        <th>Vieta</th>
                        <th>Līdz</th>
                        <th></th>
                    </tr>
                </thead>
                {% for ieraksts in ieraksti %}
                <tbody class="tbody">
                    {% if ieraksts.merkis == 'atvalinajums' %}
                    <tr class="row-vacation">
                    {% elif ieraksts.merkis == 'komandejums' %}
                    <tr class="row-business-travel">
                    {% endif %}
                        <td>{{ ieraksts.lietotajs|get_full_name:all_users }}</td>
                        {% if ieraksts.merkis == 'atvalinajums' %}
                        <td>Atvaļinājums</td>
                        {% elif ieraksts.merkis == 'komandejums' %}
                        <td>Komandējums</td>
                        {% endif %}
                        <td>{{ ieraksts.vieta }}</td>
                        <td>{{ ieraksts.datums_lidz|date:"d.m.Y"}}</td>
                        <td></td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>

            <div class="w3-center w3-small">
                <div class="pagination">
                    <div class="w3-bar">
                        <span class="step-links">
                            {% if ieraksti.has_previous %}
                                <a href="?page={{ ieraksti.previous_page_number }}" class="w3-button"> &laquo; </a>
                            {% else %}
                                <a href="#" class="w3-button"> &laquo; </a>
                            {% endif %}

                            <span class="current">
                                {{ ieraksti.number }} no {{ ieraksti.paginator.num_pages }}
                            </span>

                            {% if ieraksti.has_next %}
                                <a href="?page={{ ieraksti.next_page_number }}" class="w3-button"> &raquo; </a>
                            {% else %}
                                <a href="#" class="w3-button"> &raquo; </a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>


        </div>
    </div>

</body>

{%endblock content%}